.home {

  h2 {
    color: $white;
  }

  article.entry {
    background-color: transparent;
  }

  .virtuoso-block.frame-row {
    position: relative;
    transform: rotate(180deg);
    top: 1px;

    svg {
      path {
        fill: #161923;
      }

    }
  }

  .virtuoso-block.welcome  {

    .image_wrap {
      width: 200px;
      margin: 0 auto;

      @include media-query('med') {
        width: initial;
      }
    }

    h1 {
      visibility: hidden;
    }
  }

  .virtuoso-block.bio {
    background: linear-gradient(180deg, #161923, $umbra--dark-blue 60%);
    background-image: url('../../../../plugins/virtuoso-grandchild/assets/images/moon-bkg.svg') no-repeat 0;
    text-align: center;
    position: relative;

    .wrap {
      max-width: 600px;
      margin: 0 auto;
    }

    //background: url('../../project-specific/assets/images/moon-bkg.svg') no-repeat 0;
    //background-size: contain;

  }
  .virtuoso-block.team-grid {
    text-align: center;
    background: url('../../../../plugins/virtuoso-grandchild/assets/images/bottom-bkg.svg');
    background-position: center;
    background-size: cover;

    .wrap {
      max-width: 1100px;
    }

    strong {
      color: $white;
    }

  }


}
