// Base Colors
//===================

$umbra--dark-blue: #0B0C10;

$white: #fff;
$black: $umbra--dark-blue;
$red: #c3251d;
$gray--lightest: #ccc;
$gray--lighter: #eee;
$gray--light: #ddd;
$gray--medium: #777;
$gray: #333;


$umbra--blue-accent: #66FCF1;
$transparent: rgba(0,0,0,0.0);
$light: #C5C6C7;
$umbra--lightest: #f7f7f7;
//
// Color Configuration
//===========================

$link--color: $gray--medium;
$link--hover-color: $gray--medium;

// Elements
$base__color: $light;
$body--background-color: $umbra--dark-blue;

//
// Floating Contact button
//============================
$floatingContact--background-color: $umbra--blue-accent;
$floatingContact--color: $umbra--dark-blue;

// Form Elements
$input--background-color: $white;
$input--border-color: $gray--light;
$input--color: $gray;
$input--focus-border-color: $gray--light;
$button--background-color: $umbra--blue-accent;
$button--color: $white;
$button--hover-background-color: none;
$button--hover-color: $white;
$button--disabled-background-color: $gray--lighter;
$button--disable-color: $gray--medium;

//
// Header
//======================
$site-header--background-color: $transparent;
$site-title--link-color: $white;
$hero-overlay--background-color: none;
$hero-overlay--background-transition-color: none;
$video-background--blur: none;

//
// Navigation
//============================
$nav--link-color: $white;
$nav--hover-color: $gray--medium;
$submenu--border-color: $gray--lighter;
$submenu--link-background-color: $white;

$primary-nav--background-color: $transparent;
$primary-nav--border-color: $gray--lighter;
$primary-nav--link-color: $nav--link-color;

$secondary-nav--background-color: $transparent;
$secondary-nav--border-color: $gray--lighter;
$secondary-nav--link-color: $nav--link-color;

$js-nav--background-color: $umbra--dark-blue;
$js-nav--hover-color: $white;
$js-nav--focus-color: $gray--medium;

$nav-toggle--background-color: unset;
$nav-toggle--color: $white;

$archive-pagination--background-color: $white;
$archive-pagination--color: $gray;
$archive-pagination--hover-background-color: $red;
$archive-pagination--hover-color: $white;

//
// Footer
//============================
$siteFooter--background-color: $white;
$siteFooter--color: $gray;
$siteFooter--link-color: $gray;
$site-footer--border-color: $gray--lighter;
$footer-widgets--background-color: $white;
$footer-widgets--link-color: $link--color;
$siteFooter__login--border-color: $umbra--dark-blue;

//
// Entry Content
//===================
$entry-footer__meta--border-color: $gray--lighter;
$entry--background-color: $white;
$entry-title--link-color: $black;
$entry-title--hover-color: $gray--medium;
$entry-content__code--background-color: $gray--lighter;
$entry-content__code--color: $gray;

//
// Comments
//===================
$comment--background-color: $white;

//
// Widgets
//===================
$widget-title--link-color: $gray;


//
// Slide out sidebar
//===================
$side-out-sidebar--background-color: $white;
$side-out-sidebar--text-color: $black;
$side-out-sidebar--border-color: $umbra--blue-accent;

//
// Plugins
//===================
$enews--background-color: $gray;
$enews--color: $white;
$enews__input--border-color: $gray;
$enews__submit-button--background-color: $red;
$enews__submit-button--color: $white;
$enews__submit-button__BackgroundHoverColor: $white;
$enews__submit-button--hover-color: $red;

// General Components
$breadcrumbs--background-color: transparent;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $gray--lightest;