.button {
  padding: .5em 3em;
  @include rect-button($white, none, $hover-effect: true);
}

.btn {
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em 3em;
  @include rect-button($white, none, $hover-effect: true);
}