.footer-widgets {
  padding: 1.5rem 0;
  .wrap {
    padding-top: 0;
  }

  .custom-html-widget {
    .footer-social {
      margin: 0 7px;
      padding: 8px;
      background: $umbra--blue-accent;
      color: $umbra--dark-blue;
      border-radius: 50%;

      &:last-of-type {

        @include media-query('med') {
          margin-right: 0;
        }

      }
    }
  }
}