.slick-slide {
  margin: 0 5px !important;
  opacity: .2;
  transform: scale(0.9);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 0s;

  &:hover {
    cursor: grab;
  }

  &.slick-center  {
    opacity: 1;
    transform: scale(1);
    transition-delay: 500ms;
  }
}

.slick-dots {
  position: absolute;
  bottom: -55px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 16px;
  height: 16px;
  margin: 0 8px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 16px;
  height: 16px;
  padding: 8px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 16px;
  line-height: 1;

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  content: '';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
  border-radius: 50%;
  background: $white;

  @include media-query('med') {
    width: 16px;
    height: 16px;
  }
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}