.home {

  p {
    color: $light;
  }

  .site-inner {

    &:after {
      clear: none;
    }
    padding: 0 !important;
  }

  .front-page-1 {
    text-align: center;
    color: $white;
    max-width: 650px;
    margin: 100px auto 0 auto;
    height: 80vh;
    .arc-top {
      position: absolute;
      left: 0;

      right: 0;

      @media (max-width: 780px) {
        bottom: -85px;
      }
      @media (min-width: 781px) {
        bottom: -84px;
      }
    }
  }

  .front-page-2 {
    background: linear-gradient(180deg, #161923, $umbra--dark-blue 60%);
    text-align: center;
    position: relative;

    .wrap {
      padding: 2em 5%;
    }



    .widget_text {
      max-width: 400px;
      margin: 0 auto;

    }

    //background: url('../../project-specific/assets/images/moon-bkg.svg') no-repeat 0;
    //background-size: contain;

  }
  .front-page-5 {
    text-align: center;
    background: url('../../../../plugins/virtuoso-grandchild/assets/images/bottom-bkg.svg');
    background-position:center;
    background-size: cover;

    //background: $umbra--dark-blue;

    .wrap {
      padding: 2em 5% 4em 5%;
    }

    .front-team_wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @include media-query('med'){
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
      }

      .team-member{
        padding-top: 2em;
        max-width: 300px;

        p {
          text-align: left;
          padding-top: 1em;
        }

      }

    }


  }


}


//@include media-query('med') {
//
//}